.btn-primary {
    background-color: paleturquoise
}
.btn-hy {
    background-color: pink;
    box-sizing: content-box;
}

.leftside, .rightside {
    height: 100vh;
    width: 100%;
}
@media screen and (min-width:768px)
{
    .leftside, .rightside {
        height: 100vh;
    }
}
.leftside {
    background-color: pink;
}
.rightside {
    background-color: teal;
}
#hhp {
    background-color: #FAFC70;
    margin-bottom: 0px;
}
